<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='github.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='demoize.js') }}"></script>
  </head>
  <body>
    {% if heading %}
      <h1>{{ heading }}</h1>
    {% endif %}
    {{ code|safe }}
  </body>
</html>
